<h1 class="text-center mt-4"> Edit article here </h1>
<div class="container">
<%= render 'form' %>

<p class="mt-3"><%= link_to "Cancel and back to listing", articles_path(), class:"text-success" %></p>
</div>
