@import "bootstrap";
$navbar-default-bg: #312312 !important;
$light-orange: #ff8c00 !important;
$navbar-default-color: $light-orange !important;
.navbar{
    background-color: black !important;     
}
.nav-link,.navbar-brand{
    color: white !important;
}

h1{
    color: green  !important;
}
#home-container{
    margin-top: 25px;
}
.jumbotron{
    background-image: asset-url('home-logo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    padding: 130px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: grey;
}

