<h1 class="text-center mt-4">
 Add new category here </h1>
 <div class="container">
 <%= render 'form' %> 

<p class="mt-3"><%= link_to "Back to listing", categories_path(), class:"text-success" %></p>
</div>
